html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
.mvst-app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &.theme-dark {
    background-color: silver;
  }
  &.theme-light {
    background-color: pink;
  }
}

